<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>generate_RLLMesh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>generate_square.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>preprocess.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>tts_driver_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>tts_gamil_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>tts_square_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>unit_test_main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>554F970E14A8C27A000052E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>554F971914A8C2E9000052E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>554F974F14A8C513000052E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>557D139313BB048700BFDCEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5581140B13EA44E5004AF124</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5581143113EA470B004AF124</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>559975D213BACB530075D5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>559975F113BACBF20075D5FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55B025FA13B96EC300322B59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55B0269B13BA23E100322B59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
